@import url('typography.css');

// COLORS
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

/* COMMON */
html, body {
    max-width: 100vw;
}

body {
    background-color: $lightGrayishBlue;
    box-sizing: content-box;
    height: 100vh;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}